 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 854px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 39px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 815px;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 0 2px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 15px 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 27px 4px 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 27px auto 0 4px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -34px 56px 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 815px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 678px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 318px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 859px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: -55px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 859px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 96px;
    height: 646px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 117px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 777px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-3 {
    margin-right: -153px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 777px;
  }

  .u-section-1 .u-image-1 {
    height: 583px;
    width: 367px;
    margin-top: 102px;
    margin-right: -7px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 546px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1491px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 16px;
    margin-left: 5px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 21px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 803px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 45px;
    height: 743px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1059px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 849px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 10px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1 .u-text-2 {
    width: 240px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 38px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.875rem;
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: -33px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 626px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 88px;
    height: 468px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 74px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 11px auto 11px 0;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 550px;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 522px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 395px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 253px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 73px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  margin: 11px auto;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 367px;
}

.u-section-5 .u-slider-1 {
  min-height: 331px;
  height: auto;
  width: 1020px;
  margin: 18px auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  margin: 19px 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  width: 191px;
  margin: 32px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 57px 0 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  width: 191px;
  margin: 60px auto 0;
}

.u-section-5 .u-carousel-control-1 {
  width: 30px;
  height: 30px;
}

.u-section-5 .u-carousel-control-2 {
  width: 30px;
  height: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-slider-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-slider-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-slider-1 {
    min-height: 363px;
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 0;
    top: auto;
    position: absolute;
    right: auto;
    bottom: 50px;
  }

  .u-section-5 .u-carousel-control-2 {
    left: auto;
    top: auto;
    position: absolute;
    right: 0;
    bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-slider-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 73px;
}

.u-section-6 .u-text-1 {
  font-weight: 900;
  margin: 11px auto;
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 846px;
}

.u-section-7 .u-text-1 {
  font-size: 1.125rem;
  margin: 7px 0 0;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px auto 0 283px;
}

.u-section-7 .u-btn-2 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -40px 279px 40px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-btn-1 {
    margin-left: 83px;
  }

  .u-section-7 .u-btn-2 {
    margin-right: 79px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-7 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1361px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 26px;
    margin-left: auto;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 7px;
    margin-right: auto;
    margin-bottom: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1912px;
  }

  .u-section-7 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 16px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 9px;
    margin-bottom: 51px;
  }
}